/**
 *
 * Module: HTML/CSS
 * Lesson: 1
 * */

:root {
  --grey-dark: #292b2c;
  --grey-light: #e4e4e4;
  --orange-dark: #c05326;
  --orange-light: #f7eae4;
  --white: #fff;
}

body {
  margin: 0;
}

body,
button {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  color: var(--grey-dark);
  font-size: 1rem;
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
}

.header,
.content,
.footer {
  padding: 0 1.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
  margin-bottom: 2rem;
  padding-top: 1rem;
}

.header__logo {
  max-height: 90px;
  width: auto;
}

/* Navigation */

.navigation__list {
  display: flex;
  list-style: none;
}

.navigation__item {
  padding: 0.5rem 1.5rem;
}

.navigation__link {
  color: var(--grey-dark);
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

/* BONUS hover effect for nav links */

.navigation__link:hover { 
  color: var(--orange-dark);
}

/* Text styles */

.text-highlight {
  color: var(--orange-dark);
  font-weight: 600;
}

.arrow-right {
  display: inline-block;
  height: 0;
  width: 0;
  border: 6px solid var(--white);
  border-left-color: var(--orange-dark);
}

/* Buttons */

button {
  background-color: var(--orange-dark);
  color: var(--white);
  border: none;
  border-radius: 3px;
  padding: 0.60rem 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--white);
  color: var(--orange-dark);
  border: 2px solid var(--orange-dark);
}

/* Content */

.content {
  display: flex;
  flex-direction: column;
}

/* Alert */

.alert {
  background-color: var(--orange-light);
  border-left: 4px solid var(--orange-dark);
  border-radius: 4px;
  font-size: 0.85rem;
  line-height: 1.3;
  padding: 1.5rem 1rem;
  margin-bottom: 2rem;
}

/* hero */

.hero {
  background-image: url("../images/header-bike.jpg");
  background-color: var(--grey-light);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6rem 2rem; 
  margin-bottom: 3rem; 
  text-align: left;
  color: var(--white);
}


.hero h1 {
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

/* Headings */

.heading-underline {
  position: relative;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--orange-light);
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.heading-underline:before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 25%;
  height: 2px;
  max-width: 100px;
  background: var(--orange-dark);
}

.learn { 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 2rem;
}

/* Article */

.article {
  border: 1px solid var(--grey-light);
  padding: 0.5rem;
  background-color: var(--white);
  margin: 0.5rem;
  width: 300px;
  margin-bottom: 0.5rem; 
}

.article__title {
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5rem;
}

.article__title-link {
  text-decoration: none;
  color: var(--orange-dark);
  text-align: left;
  display: flex;
  padding: 0.5rem;
  margin-top: 0;
  margin-right: 5rem;
}

.article__summary {
  margin: 0;
  text-align: justify; 
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.article__thumbnail {
  object-fit: contain;
  width: 5rem;
}

.article__read-more {
  margin-top: 0;
}

.article__read-more a {
  font-size: 0.85rem;
  font-weight: 700;
  color: var(--orange-dark);
  text-decoration: none;
  padding: 0.5rem;
}

.article__read-more a:hover,
.article__read-more a:focus {
  text-decoration: underline;
}

figure {
  margin: 0 0 0 0;
  margin-bottom: 0.5rem;
  text-align: center;
  display: flex;
} 

.fa {
  margin-right: 0.5rem;
  color: var(--orange-dark);
}

.facebook-link {
  color: var(--orange-dark);
  text-align: right;
  padding-right: 2rem;
}

/* Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  margin-left: 2rem;
}

/* Footer */

.footer {
  margin-top: 3rem;
}

.footer__content {
  border-top: 2px solid var(--orange-light);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer p {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 0.85rem;
}

/* Media queries */

@media screen and (min-width: 992px) {
  .content {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
  }

  .main {
    flex: 0 0 65%;
  }

  .sidebar{
    flex: 0 0 30%;
  }

  .navigation__list{ 
    gap: 1.5;
  }
}

@font-face {
  font-family: "Source Sans Pro";
  font-display: swap;
}